*.class
*.log
.idea
.idea/*
*.iml
core/*.iml
.#*
.DS_Store
Makefile

output/*


vocab.txt
w2vvoc.txt
SavedLSTM_tag_20190806
SavedLSTM_WideBound_tag
SentencesInfo_all_label_final_ExactRecur.txt
SentencesInfo_all_label_final_ExactRecur_ExpandBound.txt
SentencesInfo_all_label_final_ExactRecur_ExpandBound_WideSubjObjBound.txt
SentencesInfo_all_label_final_ExactRecur_train.csv


# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
# SavedLSTM

