<html>
    <head>
        <title>REACH Visualizer</title>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css"/>
        <link rel="stylesheet" type="text/css" href="assets/brat/static/style-vis.css"/>
        <script type="text/javascript" src="assets/brat/client/lib/head.load.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/main.js"></script>
    </head>

    <body>
        <h1>REACH Visualizer</h1>

        <div id="overlay">
            <div id="loading">
                &nbsp;&nbsp;&nbsp;<img src="assets/images/loading.svg"> <br />
                Reading text...
            </div>
        </div>

        <form>
            <textarea name="text" rows="5" cols="120"></textarea>
            <br />
            <input type="submit">
        </form>

        <div id="eidosMentions"></div>

        <div id="syntax"></div>

        <table id="parse"></table>
    </body>
</html>
